# Database
*.db
*.db-shm
*.db-wal

# Logs
*.log
*.log.*

# Python cache
__pycache__/
*.pyc

# HA runtime & sensitive files
.storage/
.backups/
.ha_run.lock
.HA_VERSION
.cache/
secrets.yaml

# Credentials & tokens
.ssh/
.cloud/
.google.token
id_rsa*
id_ed25519*
*.pem

# HA generated / large dirs
deps/
image/
tts/
www/
zigbee2mqtt/
custom_components/
themes/
blueprints/
dashboards/
bubble_card/
addons_config/
addons_autoscripts/
folmerr/

# Scripts
git_pull.sh
git_pull_force.sh
git_push.sh
git_push_debug.sh

# Misc
*xxx*
lint-result.txt