home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
**/home-assistant_v2.db
**/home-assistant_v2.db-shm
**/home-assistant_v2.db-wal
*.db
*.db-shm
*.db-wal
home-assistant.log
*.log
*.log.*
__pycache__/
*.pyc
.storage/
.backups/
secrets.yaml
.ssh/
.cloud/
.google.token
id_rsa*
id_ed25519*
*.pem
deps/
image/
tts/
www/
zigbee2mqtt/
*xxx*
custom_components/
themes/
git_pull.sh
git_pull_force.sh
git_push.sh
git_push_debug.sh
folmerr/